.list {
  display: block;
  width: 300px;
  margin-top: 15px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
}

.item:first-child {
  margin-top: 0px;
}

.button {
  margin-left: 15px;
  padding: 3px 8px;
  border: solid 1px black;
  border-radius: 5px;
}

.button:hover,
.button:focus {
  border-color: lightblue;
  background-color: lightblue;
  color: white;
  cursor: pointer;
}
